## Feature Encoding:

* Feature encoding is the process of converting non numerical (or) categorical data into a numerical format that machine learning
  algorithms can understand and process.

## We choose the encoding technique based on:

* The type of categorial data (nominal or ordinal)

* The number of unique values in a categorial columns,and the model we plan to train.

# Types of categorial Data:

## 1. Nominal Data:

* No Order

Examples:
- Color( Red, Blue, Green)
-city( Delhi, Mumbai)

## 2.Ordinal Data:

* Order exists

Examples:
-size( Small< Medium< Large)
-Rating(Low< Medium< high)

# Why features Encoding Is important:

- Text data cant be used directly in model training.
- Proper Encoding:
          -Improves models accuracy
          -Prevents wrong assumptions
          -Makes training stable

# Common features Encoding techniques:

1. Label Encoding 
2. One-hot Encoding
3. Target Encoding
4. Ordinal encoding
5. Frequency Encoding
6. Binary Encoding
7. Feature HashMap Encoding

In [11]:
import pandas as pd

In [36]:
df = pd.DataFrame({
    "color":["red","green","blue","green","red"],
    "size":["small","medium","large","medium","small"],
    "city":["hyderabad","delhi","mumbai","delhi","chennnai"],
    "target":[10,20,30,40,50]})

In [6]:
df

   color    size       city  target
0    red   small  hyderabad      10
1  green  medium      delhi      20
2   blue   large     mumbai      30
3  green  medium      delhi      40
4    red   small   chennnai      50

# Label Encoding

In [5]:
from sklearn.preprocessing import LabelEncoder

In [14]:
df["color_Label"] = LabelEncoder().fit_transform(df["color"])
df[["color","color_Label"]]

   color  color_Label
0    red            2
1  green            1
2   blue            0
3  green            1
4    red            2

In [16]:
ohe = pd.get_dummies(df, columns=["color"])
print(ohe)

     size       city  target  color_Label  color_blue  color_green  color_red
0   small  hyderabad      10            2       False        False       True
1  medium      delhi      20            1       False         True      False
2   large     mumbai      30            0        True        False      False
3  medium      delhi      40            1       False         True      False
4   small   chennnai      50            2       False        False       True

# One- Hot Encoding

In [31]:
one_hot=pd.get_dummies(df["color"],prefix="color")
one_hot

   color_blue  color_green  color_red
0       False        False       True
1       False         True      False
2        True        False      False
3       False         True      False
4       False        False       True

In [32]:
oh=pd.get_dummies(df,columns=["color"])
oh

,size,city,target,color_Label,City_target_Enc,city_target_Enc,city_freq_Enc,color_blue,color_green,color_red
0,small,hyderabad,10,2,10.0,10.0,1,False,False,True
1,medium,delhi,20,1,30.0,30.0,2,False,True,False
2,large,mumbai,30,0,30.0,30.0,1,True,False,False
3,medium,delhi,40,1,30.0,30.0,2,False,True,False
4,small,chennnai,50,2,50.0,50.0,1,False,False,True

# Target Encoding

In [20]:
te= df.groupby("city")["target"].mean()

df["city_target_Enc"]=df["city"].map(te)
df[["city", "city_target_Enc"]]

        city  city_target_Enc
0  hyderabad             10.0
1      delhi             30.0
2     mumbai             30.0
3      delhi             30.0
4   chennnai             50.0

# Frequency Encoding

In [22]:
freq = df["city"].value_counts()
df["city_freq_Enc"] = df["city"].map(freq)
df[["city","city_freq_Enc"]]

        city  city_freq_Enc
0  hyderabad              1
1      delhi              2
2     mumbai              1
3      delhi              2
4   chennnai              1

# Binary Encoding

In [23]:
pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.9.0-py3-none-any.whl.metadata (7.9 kB)
Requirement already satisfied: numpy>=1.14.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from category_encoders) (2.3.5)
Requirement already satisfied: pandas>=1.0.5 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from category_encoders) (2.3.3)
Collecting patsy>=0.5.1 (from category_encoders)
  Downloading patsy-1.0.2-py2.py3-none-any.whl.metadata (3.6 kB)
Requirement already satisfied: scikit-learn>=1.6.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from category_encoders) (1.8.0)
Requirement already satisfied: scipy>=1.0.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from category_encoders) (1.16.3)
Collecting statsmodels>=0.9.0 (from category_encoders)
  Downloading statsmodels-0.14.6-cp313-cp313-macosx_10_13_x86_64.whl.metadata (9.5 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas>=1.0.5->category_encoders) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas>=1.0.5->category_encoders) (2025.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas>=1.0.5->category_encoders) (1.17.0)
Requirement already satisfied: joblib>=1.3.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from scikit-learn>=1.6.0->category_encoders) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.2.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from scikit-learn>=1.6.0->category_encoders) (3.6.0)
Requirement already satisfied: packaging>=21.3 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from statsmodels>=0.9.0->category_encoders) (25.0)
Downloading category_encoders-2.9.0-py3-none-any.whl (85 kB)
Downloading patsy-1.0.2-py2.py3-none-any.whl (233 kB)
Downloading statsmodels-0.14.6-cp313-cp313-macosx_10_13_x86_64.whl (10.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.1/10.1 MB 61.4 kB/s  0:00:56m0:00:020:04m
Installing collected packages: patsy, statsmodels, category_encoders
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3/3 [category_encoders]statsmodels]
Successfully installed category_encoders-2.9.0 patsy-1.0.2 statsmodels-0.14.6

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [24]:
import category_encoders as ce

In [29]:
data_binary = ce.BinaryEncoder(cols=["city"]).fit_transform(df["city"])

In [30]:
data_binary

   city_0  city_1  city_2
0       0       0       1
1       0       1       0
2       0       1       1
3       0       1       0
4       1       0       0